<div class="container mgto20">
  <% @posts.each do |post| %>
  <div class="panel shadow">
    <% if post.id != 1 %>
    <div class="panel-heading panel-heading-img">
      <div class="panel-title">
        <p class="headline">
          <%= link_to post.title, post %>
        </p>
      </div>
    </div>
    <div class="panel-body">
      <p class="content"><%= post.info %></p>
    </div>
    <div class="panel-footer">
      <time><%= post.created_at.to_date %></time>
      <div class="tags pull-right">
        <% post.tags.each do |tag| %>
          <span class="label label-success"><%= tag.name %></span>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
  <div class="pagination">
    <%= will_paginate @posts, :container => false, :page_links => false %>
  </div>
</div>
