<div class="container">
  <% provide(:title, @post.title) %>
  <article class="panel">
    <header class="panel-header">
      <h1 class="title -article-title"><%= @post.title %></h1>
      <% if @post.id > 1 %>
          <div class="article-meta -center">
            <time class="date">
              <span><%= @post.created_at.to_date %></span>
            </time>
          </div>
      <% end %>
      <p class="info">
        <!-- <%= @post.info %> -->
      </p>
    </header>
    <div class="panel-body article">
      <%= markdown(@post.body) %>
    </div>
    <div class="panel-footer">
      <% if @post.tags.size > 0 %>
          <div class="tags">
            <% @post.tags.each do |tag| %>
                <span><%= tag.name %></span>
            <% end %>
          </div>
      <% end %>
      <div class="actions actions-center">
        <% if logged_in? %>
            <%= link_to 'Edit', edit_post_path(@post), class: 'btn' %>
            <%= link_to 'Destroy', @post, class: 'btn', method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  </article>

  <div class="panel">
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="<%= @post.id %>" data-title="<%= @post.title %>" data-url="<%= post_url %>"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
      var duoshuoQuery = {short_name:"ripdent"};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
    </script>
    <!-- 多说公共JS代码 end -->
  </div>
</div>